#directory_fields{
	display:inline-block;
}

#directory_fields input[type=text]{
	display: block;
	width: 200px;
}

#form_wrapper{
	margin-top:50px;
	margin-left:50px;
	display: inline-block;
	text-align:right;
}

#form_wrapper input[type=text]{
	margin-top:5px;
	margin-right:5px;
}

#app_name_field{
	width: 200px;
	margin-bottom: 15px;
}

#content{
	text-align: center;
	display:block;
	margin: 0px auto;
}

#container_fields{
	display: inline-block;
}

span.container_template_wrapper{
	display: block;
}

#name_span{
//	display: block;

}
